<section class="container">
  <div>
    <h3>CHOOSE YOUR LANGUAGE</h3>

    <%= link_to english_path do %>
      <button type="button" class="btn btn-primary">English</button>
    <% end %>
    <%= link_to french_path do %>
      <button type="button" class="btn btn-primary">Français</button>
    <% end %>
    <%= link_to russian_path do %>
    <button type="button" class="btn btn-primary">Russian</button>
    <% end %>
    <%= link_to arab_path do %>
    <button type="button" class="btn btn-primary">Arab</button>
    <% end %>



  </div>
</section>
